
  body{
    background: #f1f5f9;
  }
  
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .design-demo {
    width: 60%;
    margin: 24px auto;
  }

  .design-demo h1 {
    font-size: 40px;
    margin-bottom: 12px;
  }

  .design-demo h4 {
    font-size: 18px;
    color: #324558;
  }

  .design-demo__des {
    margin: 0 0 40px 0;
    font-size: 14px;
    color: #657892;
  }

  .design-demo__nav {
    position: relative;
  }
  
  .design-demo__nav-project {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 42px;
    line-height: 42px;
    color: #657892;
  }
  
  ul#tabs {
    margin-bottom: 48px;
    display: flex;
    padding: 0;
    list-style: none;
    border-bottom: 4px solid #00aa72;
  }
  
  #tabs li {
    cursor: default;
    height: 48px;
    width: 150px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #909fb3;
    border-bottom: 4px solid transparent;
  }

  #tabs li:hover {
    color:#324558;
    font-weight: bold;
    -webkit-transition: all 0.18s ease-in-out;
    -moz-transition: all 0.18s ease-in-out;
    transition: all 0.18s ease-in-out;
  }
  
  #tabs li.active {
    font-weight: bold;
    /* border-bottom-color: #00aa72; */
    color: #324558;
    background: #fff;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 6px 18px 0 rgba(0,35,90,.08), 0 0 2px 0 rgba(0,35,90,.06);
    -webkit-transition: all 0.18s ease-in-out;
    -moz-transition: all 0.18s ease-in-out;
    transition: all 0.18s ease-in-out;
  }

   .design-demo__container {
    display: none;
  }
  .design-demo__container.active {
    display: block;
  }

  ul.design-demo__icon-lists {
    width: 100%;
    overflow: hidden;
    clear: both;
    padding: 16px 0 24px 0;
  }
  
  li.design-demo__icon-item {
    float: left;
    display: flex;
    flex-direction: column;
    width: 120px;
    margin: 0;
    padding: 20px 0px;
  }

  li.design-demo__icon-item:hover {
    cursor: pointer;
    background: #f7fafd;
    border-radius: 12px 0 12px 0;
    box-shadow: 0 6px 16px 0 rgba(0,35,90,.08), 0 0 2px 0 rgba(0,35,90,.06);
    -webkit-transition: all 0.18s ease-in-out;
    -moz-transition: all 0.18s ease-in-out;
    transition: all 0.18s ease-in-out;
  }

  li.design-demo__icon-item .icon {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    margin: 0 auto;
    color: #324558;
    -webkit-transition: all 0.18s ease-in-out;
    -moz-transition: all 0.18s ease-in-out;
    transition: all 0.18s ease-in-out;
  }

   li.design-demo__icon-item:hover .icon {
    font-size: 40px;
  }

  li.design-demo__icon-item .name{
    font-size: 12px;
    color: #909fb3;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    /* white-space: nowrap; */
  }

  
